.header {
  height: auto !important;
  position: fixed !important;
  z-index: 10 !important;
  background: linear-gradient(to right, #080e4c, #022cda);
  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .menu-item {
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0;
    &:hover {
      background-color: #0033FF;
    }
  }
}
.profile-menu {
  color: #E5EAEF !important;
  .profile-menu-text {
    color: #000;
  }
}
.profile-menu:hover {
  background-color: #e5ebff !important;
  color: #0033FF !important;
}

@media only screen and (max-width: 576px) {

  .header {
    .title {
      font-size: 1rem;
    }
  }
}